body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
}


.navbar {
  background-color: #003875;
  height: 50px;
  border-style: none;
  margin-left:10px;

}

.navbar > .navbar-text {
    font-size: 18px;
  color: #ffd65a;
}

.newtask {
  
}

.title {
  
}

.container {
  
}

